.destinations-container {
    width: 100%;
    position: fixed;
    max-width: 1500px;
    margin: 0 auto;
    text-align: left;
    padding: 40px 20px;
}
.x{
    position: absolute;
    top: -10px;
    right: -135px;
}


.destinations.name{
    font-size: 64px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.trip-title {
    color: #0056b3;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.view-all {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.main-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.destinations-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.destination-card {
    position: relative;
    width: 23%;
    border-radius: 10px;
    overflow: hidden;
}

.destination-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.destination-info {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.price {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 1024px) {
    .destination-card {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .destinations-list {
        flex-direction: column;
        align-items: center;
    }
    .destination-card {
        width: 100%;
    }
}
